.env
main
packer-plugin-scaffolding
**/packer_log*.txt
**/git_*test.pkr.hcl
crash.log

dist/*
.docs/*
docs.zip

env.txt
*null-test*
*packer-plugin-artifactory*
data_acc_test-test-ready*
artifactory_datasource*
artifactory_postprocessor*
post-processor_acc_test-test-ready*
artifact-import-notes.txt
